.navbar {
    height: 100%;
    border-right: 0.1rem solid black;
    align-content: center;
}

.navbar>* {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 1rem 1rem;
    border-bottom: 0.1rem solid black;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
}
