#root {
    height: 100%;
}

.sidebarTrigger {
  margin-top: 0.6rem;
  margin-left: 1rem;
}

.page {
    padding: 0.2rem 1rem;
    width: max-content;
}

table,
th,
td {
    text-align: left;
    border: 0.1rem solid;
}

th,
td {
    padding: 0.15rem 1rem;
}

.row-select:hover {
    color: white;
    background-color: black;
}

.pageTitle {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
