#root {
    height: 100%;
}

.sidebarTrigger {
  margin-top: 0.6rem;
  margin-left: 1rem;
}

.page {
    padding: 0.2rem 1rem;
    width: max-content;
}

.pageTitle {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
